gunicorn
setuptools
flask
flask-cors
flask-jwt-extended
bcrypt
flask-bcrypt
email-validator
torch
torchvision
Pillow
numpy
scikit-learn
scipy
reportlab
pymongo
opencv-python-headless
python-dotenv
matplotlib
Werkzeug
